body{
    background: #FFFBF0;
    margin: 0 6rem;
}
#image-w1{
    width: 211px;
    height: 260px;
}
#image-w2{
    width: 195px;
    height: 260px;
}
#image-w3{
    width: 211px;
    height: 260px;
}